* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #FEECE0;
  overflow: hidden;
  font-family: "source-serif-pro", serif;
}

picture img {
  width: 409px;
  height: 293px;
}

.top {
  display: flex;
  align-items: center;
  gap: 56px;
  justify-content: center;
  margin: 112px 180px 56px 180px;
}

.top h1 {
  font-size: 72px;
  color: #58190A;
}

.top p {
  font-size: 38px;
  color: #58190A;
}

.info p {
  padding: 30px 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons,
span,
.buttons p {
  font-size: 35px;
  color: #9B6647
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bottom {
  display: flex;
  background-color: #9B6647;
  height: 100vh;
  justify-content: center;
  gap: 64px;
  padding: 64px 50px;
  color: #FEECE0;
}

ul,
ol {
  padding-left: 28px;
}

li {
  font-size: 28px;
  font-family: "source-sans-pro", sans-serif;
}

.col1>div,
.col2>div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.col1 h1,
.col2 h1 {
  font-size: 38px;
}